/* ===========reset=========== */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font-weight: normal;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  border: none;
}

/* font */
/* font */
/* main-color */
/* gray-scale */
/* navy-color */
.mattress-master {
  height: 790px;
  background: #f9f9f9;
  position: relative;
  padding: 1px;
}
.mattress-master.fade .master-left-content .title,
.mattress-master.fade .master-left-content .master-content,
.mattress-master.fade .master-left-content .master-btn-img-boxs {
  opacity: 1;
  transform: translate(0);
  will-change: auto;
}
.mattress-master.fade .master-right-content {
  opacity: 1;
  transform: translate(0);
  will-change: auto;
}
.mattress-master .master-left-content .title,
.mattress-master .master-left-content .master-content,
.mattress-master .master-left-content .master-btn-img-boxs {
  transition: 0.5s;
  opacity: 0;
  transform: translateY(50px);
  transition-property: transform, opacity;
  will-change: transform, opacity;
}
.mattress-master .master-left-content .title:first-child {
  margin-top: 200px;
}
.mattress-master .master-left-content .title:nth-child(2) {
  margin-top: 10px;
}
.mattress-master .master-left-content .master-content {
  transition-delay: 0.3s;
  font-family: "pretendard", serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 30px;
  color: #4c566c;
  margin-top: 30px;
}
.mattress-master .master-left-content .master-content span {
  display: block;
}
.mattress-master .master-left-content .master-btn-img-boxs {
  transition-delay: 0.6s;
  margin-top: 70px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.mattress-master .master-left-content .master-btn-img-boxs .master-btn-img-box {
  width: 130px;
  height: 74px;
  position: relative;
}
.mattress-master .master-left-content .master-btn-img-boxs .master-btn-img-box img {
  width: 100%;
  height: inherit;
  border-radius: 5px;
  transition: 0.3s;
}
.mattress-master .master-left-content .master-btn-img-boxs .master-btn-img-box:hover img {
  transform: scale(0.95);
}
.mattress-master .master-left-content .master-btn-img-boxs .master-btn-img-box:hover::after {
  content: "click me";
  width: 100%;
  height: 100%;
  color: #1c2844;
  font-family: "Kaisei Tokumin", serif;
  text-align: center;
  line-height: 74px;
  position: absolute;
  left: 0;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6);
  transform: scale(0.95);
}
.mattress-master .master-right-content {
  opacity: 0;
  transform: translateX(50px);
  transition: 0.5s;
  transition-delay: 0.8s;
  position: absolute;
  right: 160px;
  top: 260px;
  box-sizing: border-box;
  transition-property: transform, opacity;
  will-change: transform, opacity;
}
.mattress-master .master-right-content .master-mettress-wrap .master-mettress-btn img {
  position: absolute;
  z-index: 50;
  transition: 0.5s;
  cursor: pointer;
}
.mattress-master .master-right-content .master-mettress-wrap .master-mettress-btn img:nth-child(1) {
  top: 15px;
  right: 90px;
}
.mattress-master .master-right-content .master-mettress-wrap .master-mettress-btn img:nth-child(2) {
  top: 25px;
  right: 300px;
}
.mattress-master .master-right-content .master-mettress-wrap .master-mettress-btn img:nth-child(3) {
  top: 95px;
  right: 220px;
}
.mattress-master .master-right-content .master-mettress-wrap .master-mettress-btn img:nth-child(4) {
  top: 100px;
  left: 130px;
}
.mattress-master .master-right-content .master-mettress-wrap .master-mettress-btn img:nth-child(5) {
  top: 200px;
  left: 180px;
}
.mattress-master .master-right-content .master-mettress-wrap .master-mettress-btn img:hover {
  mix-blend-mode: screen;
  transform: scale(0.9) rotate(45deg);
}
.mattress-master .master-right-content .master-mettress-wrap .master-mettress img {
  width: 600px;
  height: auto;
  position: relative;
}
.mattress-master .master-right-content .master-mettress-wrap .master-mettress::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: url(../images/04.mattress-master/mattress-master-bg.png) no-repeat;
  position: absolute;
  bottom: 80px;
  left: 60px;
}
.mattress-master .master-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  background-color: rgba(51, 51, 51, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.mattress-master .master-modal.modal-vew {
  opacity: 1;
  visibility: visible;
}
.mattress-master .master-modal .modal-card {
  width: 456px;
  height: 665px;
  background: white;
  border-radius: 40px;
  text-align: center;
  box-shadow: 4px 4px 30px rgba(51, 51, 51, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.mattress-master .master-modal .modal-card.card-veiw {
  opacity: 1;
  visibility: visible;
}
.mattress-master .master-modal .modal-card .card-img {
  height: 260px;
  overflow: hidden;
}
.mattress-master .master-modal .modal-card .card-img img {
  transition: 1s;
}
.mattress-master .master-modal .modal-card .card-img img:hover {
  transform: scale(1.2);
}
.mattress-master .master-modal .modal-card .close-btn {
  width: 41px;
  height: 41px;
  margin: 25px 0 15px 380px;
  cursor: pointer;
}
.mattress-master .master-modal .modal-card .card-desc h3 {
  font-family: "Kaisei Tokumin", serif;
  color: #1c2844;
  font-weight: 600;
  font-size: 2.25rem;
  margin: 24px 0 15px;
}
.mattress-master .master-modal .modal-card .card-desc h4 {
  font-size: 1.375rem;
  color: #545e78;
  margin-bottom: 24px;
}
.mattress-master .master-modal .modal-card .card-desc p {
  text-align: justify;
  padding: 0 2.5rem;
  color: #818ba1;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.3rem;
}