/* ===========reset=========== */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font-weight: normal;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  border: none;
}

/* font */
/* font */
/* main-color */
/* gray-scale */
/* navy-color */
.showroom {
  padding-top: 130px;
  padding-bottom: 60px;
  background: url(../images/08.showroom/showroom-bg.png) no-repeat;
  background-position: center 750px;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(50px);
  transition-property: transform, opacity;
  will-change: transform, opacity;
}
.showroom.fade {
  opacity: 1;
  transform: translate(0);
  will-change: auto;
}
.showroom .star-icon,
.showroom .title,
.showroom .sub-title {
  text-align: center;
}
.showroom .star-icon {
  margin-bottom: 30px;
}
.showroom .title {
  margin-bottom: 1rem;
}
.showroom .sub-title {
  margin-bottom: 70px;
  font-size: 1.62rem;
  color: #1c2844;
}
.showroom .showroom-content-wrap {
  height: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.062745098);
  background-color: #fff;
  border-radius: 20px;
}
.showroom .showroom-content-wrap .showroom-content-left {
  width: 40%;
  height: 500px;
  background-image: url(../images/08.showroom/showroom01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  transition: background 0.3s;
}
.showroom .showroom-content-wrap .showroom-content-right {
  width: 50%;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-right-title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 1.5rem;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-right-title h4 {
  font-size: 2.25rem;
  color: #4c566c;
  font-weight: 700;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-right-title span {
  font-size: 1.25rem;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-right-title span strong {
  font-weight: 900;
  color: #4c566c;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-list {
  height: 435px;
  overflow-y: scroll;
  padding: 0 3rem;
  box-sizing: border-box;
  background-color: #FAFAFA;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-list::-webkit-scrollbar {
  width: 12px;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-list::-webkit-scrollbar-thumb {
  background-color: #B5B6B8;
  border-radius: 50px;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-list::-webkit-scrollbar-track {
  background-color: #ECECEC;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-list li {
  border-bottom: 1px solid rgba(28, 40, 68, 0.2);
  padding-top: 1.2rem;
  position: relative;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-list li:hover {
  background-color: #f2f1ef;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-list li a {
  display: block;
  color: #4c566c;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-list li a h5 {
  font-size: 1.63rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-list li a p {
  width: 75%;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-list li a span {
  display: block;
  font-size: 1.1rem;
  color: #818ba1;
  margin-bottom: 1rem;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-list li a .heart-icon {
  width: 26px;
  height: 24px;
  background: url(../images/08.showroom/showroom-icon-heart.png) no-repeat;
  position: absolute;
  right: 0;
  top: 1.5rem;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-list li a .heart-icon.on {
  background-position: -26px 0;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-list li a button {
  width: 100px;
  height: 36px;
  background-color: #42db85;
  color: #fff;
  border: none;
  border-radius: 50px;
  position: absolute;
  right: 0;
  bottom: 1rem;
}
.showroom .showroom-content-wrap .showroom-content-right .showroom-list li a button:hover {
  background-color: #31a061;
}
.showroom .more-btn {
  width: 200px;
  margin: auto;
  margin-top: 60px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.showroom .more-btn .arrow {
  transition: transform 0.3s;
}
.showroom .more-btn:hover .arrow {
  transform: translateX(30px);
}
.showroom .more-btn span {
  font-family: "Kaisei Tokumin", serif;
  font-size: 1.63rem;
  color: #4c566c;
}