@import "reset", "variables";

.best {
  background: url(../images/07.best/best-bg.png) no-repeat;
  background-color: #f6f6f5;
  &.fade {
    .best-inner {
      .best-items {
        .best-item-wrap {
          .best-left-img {
            opacity: 1;
            transform: translate(0);
            will-change: auto;
          }
          .best-rigth-wrap {
            .best-textBox {
              .best-title,
              .hashtag,
              .best-wrap-contents {
                opacity: 1;
                transform: translate(0);
                will-change: auto;
              }
            }
            .best-mini-img {
              opacity: 1;
              transform: translate(0);
              will-change: auto;
            }
          }
        }
      }
    }
  }

  .best-inner {
    text-align: center;
    padding: 180px 0;

    .best-tab-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      gap: 40px;

      li {
        font-size: 1.563rem;
        display: flex;
        align-items: center;

        &:nth-child(1):after {
          content: " ";
          background: url(../images/07.best/best-icon01.svg) no-repeat;
          width: 24px;
          height: 25px;
          display: inline-block;
          margin-left: 40px;
        }

        a {
          padding: 10px 0;
          display: inline-block;
          border-bottom: none;
          color: $font1;
          transition: 0.3s;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 0%;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            bottom: 0px;
            background-color: $darkNavy;
            border-radius: 50px;
            transition: 0.2s;
          }

          &.select {
            color: $darkNavy;

            &::before {
              width: 100%;
            }
          }

          &:hover {
            color: $darkNavy;
          }
        }
      }
    }

    .best-items {
      .best-item-wrap {
        padding: 90px 0 100px 0;
        display: flex;
        justify-content: space-between;

        &.frame {
          .best-mini-img {
            #Carolyn {
              a {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                  width: 200px;
                  height: 110px;
                }
              }
            }
          }
        }

        .best-left-img {
          width: 550px;
          height: 600px;
          border-radius: 50px;
          transition: .5s;
          opacity: 0;
          transform: translateX(-50px);
          transition-property: transform, opacity;
          will-change: transform, opacity;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50px;
          }
        }
      }

      .best-rigth-wrap {
        width: 670px;

        .best-textBox {
          text-align: left;

          .best-title {
            font-size: 2.813rem;
            line-height: 1.2;
            transition: .5s;
            opacity: 0;
            transform: translateY(50px);
            transition-property: transform, opacity;
            will-change: transform, opacity;

            .best-title-h5 {
              display: flex;
              align-items: center;
              gap: 10px;
            }

            h5 {
              font-family: $font-title;
              color: $orange;
            }

            h3 {
              font-family: $font-title;
              color: $darkNavy;
            }
          }

          .hashtag {
            display: flex;
            gap: 10px;
            transition: .5s;
            opacity: 0;
            transform: translateY(50px);
            transition-delay: .2s;
            transition-property: transform, opacity;
            will-change: transform, opacity;

            a {
              display: block;
              padding: 10px 20px;
              border: 1px solid $darkNavy;
              border-radius: 20px;
              color: $darkNavy;
              margin: 30px 0 45px 0;
            }
          }

          .best-wrap-contents {
            font-size: 1.25rem;
            color: $navy2;
            line-height: 1.5;
            transition: .5s;
            opacity: 0;
            transform: translateY(50px);
            transition-delay: .4s;
            transition-property: transform, opacity;
            will-change: transform, opacity;

            span {
              display: block;
              margin-top: 2rem;
            }
          }
        }

        .best-mini-img {
          display: flex;
          gap: 45px;
          margin-top: 80px;
          transition: .5s;
          opacity: 0;
          transform: translateY(50px);
          transition-delay: .6s;
          transition-property: transform, opacity;
          will-change: transform, opacity;

          div {
            &:nth-child(2) a {
              background-color: #d8d4c9;
            }

            &:nth-child(3) a {
              background-color: #e7e4de;
            }

            a {
              display: block;
              width: 170px;
              height: 165px;
              border-radius: 20px;
              background-color: #c8b19f;
              transition: 0.4s;

              &.active {
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
                transform: translateY(-2px);
              }

              &:hover {
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
                transform: translateY(-5px);
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
              }
            }
          }
        }
      }
    }

    .best-btn {
      width: fit-content;
      margin: auto;

      .more-ani {
        transition: 0.5s;
      }

      &:hover .more-ani {
        transform: translateX(30px);
      }

      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: $darkNavy;
        font-family: $font-title;
        font-size: 1.5rem;
      }
    }
  }
}