
/* font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
//font-family: "pretendard", serif;

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
//font-family: "Kaisei Tokumin", serif;

/* font */
$font-title: "Kaisei Tokumin", serif;
$nomal-font: "pretendard", serif;

/* main-color */
$darkNavy:#1c2844;
$orange: #FF8B2E;

/* gray-scale */
$font1: #adaeb1;
$font2: #e2e2e2;
$font3: #f2f1ef;
$font4: #f9f9f9;
$font5: #ffffff;

/* navy-color */
$navy1: #424953;
$navy2: #4c566c;
$navy3: #545e78;
$navy4: #70788c;
$navy5: #818ba1;
